div.finish_screen h1 {
  font-size: 28px;
  padding: 10%;
  text-align: center;
}
div.finish_screen  .CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 45%;
  height: 50%;
}

div.finish_screen _circle .CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

div.finish_screen _circle .CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

div.finish_screen _circle .CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  width: 70%;
  dominant-baseline: middle;
  text-anchor: middle;
}

div.finish_screen _circle .CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

div.finish_screen _circle .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

div.finish_screen _circle .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

div.finish_screen _circle .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

div.finish_screen _circle .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}